.editSlideout_header {
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 20px;
}

.editSlideout_container {
  transform: translateX(100%);
  display: flex;
  margin: 0;
  padding: 7px;
  background-color: #333;
  width: 40vw;
  height: 100vh;
  position: fixed;
  right: 0;
  opacity: 0;
  flex-direction: column;
  z-index: 999;
  /* border-left: 2px solid black; */
  box-shadow: -5px 0px 10px #00000057;
  overflow: scroll;
}
@media screen and (max-width: 850px) {
  .editSlideout_container {
    width: 75vw;
  }
}
@media screen and (max-width: 700px) {
  .editSlideout_container {
    width: 97vw;
  }
}
.editSlideout_navRow {
  display: flex;
  flex: 0;
}
.editSlideout_content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-family: "Ubuntu";
  flex: 1 auto;
}
.editSlideout_saveDiv {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 10px;
  line-height: 0.8;
  font-family: "Ubuntu";
  margin-bottom: 20px;
}
.editSlideout_saveButton {
  background-color: #009ce8;
  height: 7vh;
  border-radius: 7px;
  border: 1px solid #00000000;
  font-size: 1.2em;
  cursor: pointer;
}
.editSlideout_saveButton[disabled] {
  background-color: grey;
}
.editSlideout_content label {
  margin-left: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 0.8em;
}
.editSlideout_content input,
.editSlideout_content textarea {
  font-size: larger;
  background-color: #333;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: "Ubuntu";
  padding: 10px;
  color: white;
}
.editSlideout_span {
  font-size: larger;
  font-weight: bolder;
  margin: 7px 0 0 3px;
}
.editSlideout_content input:focus,
.editSlideout_content textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #009ce8; /* Optional: subtle glow effect */
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-out-right {
  animation: slideOutRight 0.5s ease-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 0.5s ease-out forwards;
}

.editSlideout_modal-button {
  background-color: #4300af;
  font-size: 0.85em;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  margin: 5px;
  min-width: 75px;
  cursor: pointer;
}
.editSlideout_modal-message {
  margin: 20px;
  text-align: center;
}
.editSlideout_mapModal {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 400;
  background-color: grey;
  border: "2px solid #000";
  padding: 4px;
}
.editSlideout_locationDiv {
  display: flex;
}
.editSlideout_mapIcon {
  display: flex;
  align-self: center;
  margin: 10px;
  cursor: pointer;
}
.editSlideout_locationInput {
  display: flex;
  flex: 1;
}
.editSlideout_mdxeditor_text {
  background-color: #2b2b2b;
  border-radius: 10px;
  color: white !important;
}
.editSlideout_mdxeditor_toolbar {
  background-color: #009ce8 !important;
}
.editSlideout_deleteButton {
  background-color: #e80000;
  height: 7vh;
  border-radius: 7px;
  border: 1px solid #00000000;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: auto;
}
.editSlideout_headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
