.reactTracker_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.reactTracker_tableContainer {
  width: 100%;
}
.reactTracker_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #212121;
  background-color: #333;
  padding-bottom: 200px;
  box-shadow: 5px 5px 10px #00000057;
}
@media (max-width: 768px) {
  .reactTracker_table th:nth-child(3),
  .reactTracker_table td:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .reactTracker_table th:nth-child(7),
  .reactTracker_table td:nth-child(7),
  .reactTracker_table th:nth-child(3),
  .reactTracker_table td:nth-child(3),
  .reactTracker_table th:nth-child(4),
  .reactTracker_table td:nth-child(4) {
    display: none;
  }
}
.reactTracker_tableBody tr:nth-child(even) {
  background-color: #212121;
}
.reactTracker_tableBody tr:nth-child(even):hover {
  background-color: #146086;
}
.reactTracker_table thead {
  background-color: #009ce8;
}
.reactTracker_table thead tr th {
  padding: 10px;
}
th,
td {
  /*border: 1px solid rgb(114, 114, 114);*/
  border-collapse: collapse;
  padding-left: 3px;
  font-size: 12px;
  font-family: Ubuntu;
  text-align: center;
}
tr:hover {
  background-color: #146086;
}
.reactTracker_editButton {
  width: 25px;
  height: 25px;
  /* background-image: url("../../assets/edit_icon.png"); */
  background-size: contain;
  background-position: center;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  margin-top: 4px;
}
.reactTracker_editButton:hover {
  border: 0px;
  background-color: transparent;
}
.reactTracker_delButton {
  width: 25px;
  height: 25px;
  /* background-image: url("../../assets/delete_icon.png"); */
  background-size: contain;
  background-position: center;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  margin-top: 4px;
}
.reactTracker_delButton:hover {
  border: 0px;
  background-color: transparent;
}
