.mdxeditor-popup-container {
  position: relative;
  z-index: 1000;
}
.muiTableTest_button {
  /* box-shadow:
    0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12); */
  background-color: #009ce8;
  color: white;
  border: 1px solid #2a5372;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
