.reactTrackerPage_main {
  display: flex;
  flex-direction: column;
}
.reactTrackerPage_leftPane {
  display: flex;
  flex-direction: column;
}
.reactTrackerPage_toggleButton {
  height: 75px;
  width: 150px;
  display: flex;
}
.reactTrackerPage_headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
.reactTrackerPage_headerContainer button {
  background-color: #009ce8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #333;
  padding-top: 7px;
  box-shadow:
    0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.reactTrackerPage_buttonsInner {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 50px 0px 0px 0px;
  flex-shrink: 0;
}
.reactTrackerPage_header {
  display: flex;
  font-size: 3vh;
  margin-right: auto;
  padding: 20px 0px 10px 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.53);
  align-self: flex-end;
  min-width: 0;
  overflow-wrap: anywhere;
}
.reactTrackerPage_tableContainer {
  padding: 0px 20px 20px 20px;
}
.deleteJob_modal-button {
  background-color: #009ce8;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #333;
  padding: 7px;
  box-shadow:
    0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  color: black;
}
.deleteJob_modal-message {
  padding: 20px;
}
