.reactTrackerPage_main {
  display: flex;
  flex-direction: column;
}
.reactTrackerPage_leftPane {
  display: flex;
  flex-direction: column;
}
.reactTrackerPage_toggleButton {
  height: 75px;
  width: 150px;
  display: flex;
}
.reactTrackerPage_buttonsContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
.reactTrackerPage_buttonsContainer button {
  background-color: #009ce8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #333;
  padding-top: 7px;
  box-shadow: 2px 2px 1px #00000057;
}
.reactTrackerPage_buttonsInner {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 50px 0px 0px 0px;
}
.reactTrackerPage_header {
  display: flex;
  font-size: 2.5vh;
  margin-right: auto;
  padding: 20px 0px 5px 15px;
  text-shadow: 2px 2px 1px #00000057;
  align-self: flex-end;
}
.reactTrackerPage_tableContainer {
  padding: 0px 20px 20px 20px;
}
.reactTrackerPage_footer {
  text-align: center;
  padding: 10px;
  font-size: 0.8vw;
}
