.navBar_main {
  background-color: #333;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid black;
  cursor: pointer;
  box-shadow: 3px 3px 6px #00000057;
}
.navBar_userDiv {
  display: flex;
  padding: 10px;
}
.navBar_userDiv:hover {
  background-color: #232323;
}
