.reactTrackerPage_leftPane {
  display: flex;
  width: 98vw;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}
.reactTrackerPage_toggleButton {
  height: 75px;
  width: 150px;
  display: flex;
}
.reactTrackerPage_buttonsContainer {
  display: flex;
  width: 30%;
  align-self: flex-end;
}
.reactTrackerPage_buttonsContainer button {
  background-color: #4300af;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #333;
  padding-top: 7px;
}
.reactTrackerPage_buttonsInner {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.reactTrackerPage_header {
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 20px;
}
